/* *General styling */
.app {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

/* *Select Area */
select {
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: darkcyan;
  color: white;
}

/* *Level Area */
.questionArea {
  max-width: 1000px;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questionBox {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  width: 160px;
}

.questionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}

button:disabled {
  background-color: darkgrey;
  color: darkolivegreen;
}
